<div class="listeResto--responsive">
    <a class="listeResto__bloc" href='#'>
        <img src="{$IMAGE$}" alt="{$NAME$}" class="listeResto__img">
        <p class="listeResto__nouveau {$IS_NEW$}">Nouveau</p>
        <div class="listeResto__foot--space-between">
            <div class="listeResto__text--gap">
                <h3 class="listeResto__name">{$NAME$}</h3>
                <p class="listeResto__location">{$LOCATION$}</p>
            </div>
            <div class="heart--animation"></div>
        </div>
    </a>
</div>